.main {
    min-height: 100vh;
}

.header {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background-color: #5863F8;
}

.header h1 {
    margin: 10px;
}

.header h2 {
    font-size: 1.4rem;
    margin: 0 10px;
}

.headerButton {
    padding: 1px 10px;
    background-color: #EE6C4D;
    border-radius: 10px;
}

.headerButton:hover{
    background-color: #ec4015;
}

.headerLogo{
    padding: 1px 10px;
    background-color: #EE6C4D;
    border-radius: 10px;
}

.body {
    margin: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}