.tabela{
    background-color: #EE6C4D;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    width: 75%;
}

.head th{
    padding: 10px;
    /* border-bottom: 1px solid #ddd; */
    background-color: #EE6C4D;
}

.body td{
    padding: 0.8%;
}

.body tr{
    background-color: darksalmon;
}
.body tr:hover{
    background-color: #e93c11;
}